<div class="sidebar-nav-container">
    
    <div class="app-logo">ManhMusic</div>

    <nav class="sidebar-nav">
        <ul class="nav-tabs">
            <li><a href="#" onclick="window.switchTab('home')">Trang chủ</a></li>
            <li><a href="#" onclick="window.switchTab('search')">Tìm kiếm</a></li>
            <li><a href="#" onclick="window.switchTab('uploads')">Danh sách tải lên</a></li>
            <li><a href="#" onclick="window.switchTab('recommend')">Gợi ý</a></li>
            <li><a href="#" onclick="window.switchTab('upload')">Tải nhạc lên</a></li>
        </ul>
        
        <div class="sidebar-bottom">
            <a href="#" onclick="window.handleLogout()">Log out</a>
            </div>
    </nav>
    
</div>